@media screen and (max-width:600px) {

#menu{
    font-size: small;
}

#cabecera{
    width: 99.9%;
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: aparecer 2s 1;
}
#fotos{
    border-image: linear-gradient(to top right, #ffbd59 0%, #3647d1 100%) 1;
    border-width: 4px;
    border-style: solid;

    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 400px;
    height: 250px;    
    overflow: hidden;
}
#fotos div img{
    width: 400px;
    height: 250px;    
}
#fotos_2{    
    position: relative;
    display: flex;
    flex-direction: row;
    animation-name: fotos_animacion;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.casas1{
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin: 0;
    width:850px; 
    height:500px;
}
.casas_new{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width:850px; 
    height:500px;
    z-index: 1;
    animation-name: fotos_animacion2;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.casas1:hover{
    animation-name: desaparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fotos_animacion {
    0%{
        left: 0%;
    }
    100%{
        left: -400%;
    }

}
@keyframes fotos_animacion2 {
    0%{
        top: -100.8%;
    }
    100%{
        left: -100%;
        top: -100.8%;
    }

}
@keyframes desaparecer {
    100%{
        opacity: 0;
    }
}

@keyframes aparecer {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#cuerpo{
    animation: aparecer 2s 1;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cuerpo h2 {
    text-align: center;
    font-size: 30px;
}
#cuerpo p {
    text-align: center;
    font-size: medium;
}

#reformas{
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}
#reformas div{
    width: 200px;
}
#img_reforma{
    position: relative;
    border-image: linear-gradient(to top right, #ffbd59 0%, #3647d1 100%) 1;
    border-width: 4px;
    border-style: solid;
}

#fontaneria{
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}
#fontaneria div{
    width: 200px;
}
#img_fontaneria{
    border-image: linear-gradient(to top right, #ffbd59 0%, #3647d1 100%) 1;
    border-width: 4px;
    border-style: solid;
}

#electricidad{
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}
#electricidad div{
    width: 200px;
}
#img_electricidad{
    border-image: linear-gradient(to top right, #ffbd59 0%, #3647d1 100%) 1;
    border-width: 4px;
    border-style: solid;
}

#parquet{
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}
#parquet div{
    width: 200px;
}
#img_parquet{
    border-image: linear-gradient(to top right, #ffbd59 0%, #3647d1 100%) 1;
    border-width: 4px;
    border-style: solid;
}



footer{
    margin-top: 75px;
    width: 100%;
    height: 300px;
    background-color: black;
}
}